.menu{
    text-align: center;
    
}
.menu a{
    color: #000000;
    font-size: 23px;
    text-decoration: none;
    font-family: 'PT Sans';
}
.menu a:hover{
    color: #ff0202;
    text-decoration:underline;
}